
@{
    ViewBag.Title = "Регистрация";
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.Title
            <small>Сопоставление пользователей системы сотрудникам</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
            <li>Управление</li>
            <li>@Html.ActionLink("Пользователи", "ShowUsers", "UsersManagement")</li>
            <li class="active">Сопоставление пользователей</li>
        </ol>
    </div>
    <span class="badge sum-block pull-right" style="margin-right:1.4em;">Шаг 2 из 2</span>

    <div class="row">
        <div class="col-md-6" id="resultMessage" style="display:block; height:30px;">
            <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
            <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
        </div>
    </div>
    <br />

    @Html.Hidden("UserId")

    <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
        <thead>
            <tr role="row" id="search-row" style="background-color:#ddddff">
                <th></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Сотрудник" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Организация" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Проекты" /></th>
                <th></th>
            </tr>

            <tr role="row">
                <th>ID</th>
                <th>Сотрудник</th>
                <th>Организация</th>
                <th>Проекты</th>
                <th><button id="clearWks" title="Отменить выбор всех сотрудников"><span class="fa fa-refresh"></span></button></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <a href="#" class="scrollup1">Наверх</a>

    <div>
        <a class="btn btn-primary" href='@Url.Action("ShowUsers","UsersManagement")'><span class="glyphicon glyphicon-user"></span>&nbsp;Пользователи</a>
        @*<a class="btn btn-primary" title="Сохранить изменения и завершить регистрацию" href='@Url.Action("ShowUsers","UsersManagement")'><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Завершить</a>*@
        <a class="btn btn-primary" title="Сохранить изменения и завершить регистрацию" id="wksSend" href='#'><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Завершить</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/toparrow.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>

    <script>
        $(function () {

            //Скрипт создания таблицы
            $('#loadingImg').hide();
            var table = $('#gridtable')
                .DataTable({
                    "fixedHeader": {
                        "header": true,
                        "headerOffset": $('#mainNavbar').height()
                    },
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "orderMulti": true,
                    "responsive": true,
                    "pageLength": 25, // Количество записей в таблице по умолчанию
                    "pagingType": "simple_numbers",
                    "dom": "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'#sumSpan.col-sm-3'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "language": {
                        "lengthMenu": "Записей: _MENU_",
                        "zeroRecords": "Записи отсутствуют",
                        "info": "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                        "infoEmpty": "Записи отсутствуют",
                        "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                        "search": "Поиск",
                        "processing": "<div id='loadingImg'><div id='preloadImg'><img src='../../Content/Images/loader.gif' /></div></div>",
                        "sInfoThousands": " ",
                        "oPaginate": {
                            "sNext": ">",
                            "sPrevious": "<"
                        }
                    },
                    "ajax": {
                        "url": "/UsersManagement/LoadWks",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": function (d) {
                            if (d.data.length === 0) {
                                if (d.errormessage != "") {
                                    alert(d.errormessage);
                                }
                            }
                            return d.data;
                        }
                    },
                    "order": [[1, "asc"]],
                    "columns": [
                        { "data": "id", "name": "id", sWidth: '5%', "class": "" },
                        { "data": "ShortName", "name": "ShortName", sWidth: '20%', "class": "" },
                        { "data": "Organization", "name": "Organization", sWidth: '20%', "class": "" },
                        { "data": "projects", "name": "projects", sWidth: '50%', bSortable: false, "class": "" },
                        {
                            data: null, sWidth: '5%',
                            bSortable: false,
                            render: function (data, type, row, meta) {
                                var chkStr = '<div style="width:100%; text-align:center;"><input data-wksid="' + row['id'] + '" class="wksSelectCHB" type="checkbox"></div>';
                                return chkStr;
                            }
                        }
                    ],
                    "createdRow": function (row, data, rowIndex) {

                    },
                    //"columnDefs": [
                    //    {
                    //        "targets": [7],
                    //        "visible": false,
                    //        "searchable": false
                    //    }
                    //]
                });

            table.columns().eq(0).each(function (colIdx) {
                $('.sb', $('th')[colIdx]).on('keyup change', function () {
                    table.column(colIdx).search(this.value).draw();
                });

            });

            //Сброс состояния всех чекбоксов таблицы
            $('#clearWks').on('click', function () {
                $('.wksSelectCHB').prop('checked', false);
            });

            //Отправка данных на сервер
            $('#wksSend').on('click', function (e) {
                e.preventDefault();
                var wksIds = [];
                var _userId = $('#UserId').val();
                $('input:checkbox.wksSelectCHB').each(function () {
                    if ($(this).is(":checked")) {
                        wksIds.push($(this).data('wksid'));
                    }
                });
                console.log(JSON.stringify(wksIds), _userId);
                $.ajax({
                    method: "POST",
                    url: "/Administrator/UsersManagement/UsrWksAjax",
                    data: { UserId: _userId, WorkersIDs: JSON.stringify(wksIds) }
                })
            });

        });

    </script>
}