@model F_Result.Models.Payments

@{
    ViewBag.Title = "Details";
}

<div class="container">
	 <div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				@ViewBag.Title
				<small>Подробное название</small>
			</h1>
			<ol class="breadcrumb">
	            <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
		        <li class="active">!!!!!!</li>
	        </ol>
		</div>
	</div>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgrType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgrType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgrDate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
