@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/DateRangePicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

<style>
    .stBadge {
        color: #888;
        cursor: pointer;
        padding: .8em;
    }

    .context-menu-icon-review {
        background-color: rgba(64, 128, 200, 0.3);
    }

    .context-menu-icon-accept {
        background-color: rgba(128, 200, 64, 0.3);
    }

    .context-menu-icon-reject {
        background-color: rgba(255, 99, 132, 0.3);
    }

    .context-menu-icon-completed {
        background-color: rgba(255, 208, 115, 0.3);
        text-decoration: line-through;
    }

    #gridtable tbody tr:hover {
        background-color: #eee !important;
    }

    .breakAll {
        cursor: pointer;
        max-width: 500px;
        -ms-word-break: break-all;
        word-break: break-all;
    }

    .commNarrow {
        cursor: pointer;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .urlCellf {
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .bUnCheck {
        box-shadow: 2px 2px 5px grey;
    }
</style>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Отзывы
                <small>Отзывы и пожелания</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Персональный раздел</li>
                <li class="active">Отзывы</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" hidden id="resultMessage" style="display:block; height:30px;">
            <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
            <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
        </div>
    </div>

    <div id="hdStatusFilter" hidden>
        @*<span class="badge stBadge bUnCheck" data-status="0" style="border:1px solid #bbb; background-color:transparent;">Все</span>*@
        <span class="badge stBadge bUnCheck" data-status="16" style="border: 1px solid rgba(255, 208, 115, 0.5); background-color:rgba(255, 208, 115, 0.1); text-decoration:line-through">Выполнен</span>
        <span class="badge stBadge" data-status="1" style="border: 1px solid rgba(255, 208, 115, 0.5); background-color:rgba(255, 208, 115, 0.1)">Добавлен</span>
        <span class="badge stBadge" data-status="4" style="border: 1px solid rgba(64, 128, 200, 0.5); background-color:rgba(64, 128, 200, 0.3)">Рассмотрение</span>
        <span class="badge stBadge" data-status="8" style="border: 1px solid rgba(128, 200, 64, 0.5); background-color:rgba(128, 200, 64, 0.3)">Принят</span>
        <span class="badge stBadge" data-status="12" style="border: 1px solid rgba(255, 99, 132, 0.3); background-color:rgba(255, 99, 132, 0.3)">Отклонен</span>
    </div>

    @Html.Hidden("acceptor", false)

    <table class="table table table-bordered table-striped table-responsive gridtable" id="gridtable" style="width:100%">
        <thead>
            <tr role="row" id="search-row" style="background-color:#ddddff">
                <th><input type="text" class="form-control input-sm dff dateFlt" readonly style="width: 100%" placeholder="Дата" id="dateFlt" /></th>
                <th><input type="text" class="form-control input-sm sb usrFlt" style="width: 100%" placeholder="Автор" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Отзыв" /></th>
                <th><input type="text" class="form-control input-sm sb urlFlt" style="width: 100%" placeholder="Ссылка" /></th>
                <th><input type="text" class="form-control input-sm dff app_dateFlt" readonly style="width: 100%" placeholder="Рассмотрен" id="appDateFlt" /></th>
                <th><input type="text" class="form-control input-sm sb app_UserFlt" style="width: 100%" placeholder="Рассмотрел" /></th>
            </tr>
            <tr role="row">
                <th>Дата</th>
                <th>Автор</th>
                <th>Отзыв</th>
                <th>Ссылка</th>
                <th>Рассмотрен</th>
                <th>Рассмотрел</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <a href="#" class="scrollup1">Наверх</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FRScripts/toparrow.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    @*Блок скриптов для работы с DateRangePicker*@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/DateRangePicker/jquery.daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('.dff').each(function () {
                $(this).dateRangePicker(
                     {
                         language: 'ru',
                         startOfWeek: 'monday',
                         separator: ' - ',
                         format: 'DD/MM/YYYY',
                         autoClose: true,
                         monthSelect: true,
                         yearSelect: true,
                         setValue: function (s) {
                             $(this).val(s);
                         },
                         customOpenAnimation: function (cb) {
                             $(this).fadeIn(300, cb);
                         },
                         customCloseAnimation: function (cb) {
                             $(this).fadeOut(300, cb);
                         },
                         showShortcuts: false,
                         time: {
                             enabled: false
                         },
                         extraClass: 'date-range-pickerM'
                     })
                .bind('datepicker-closed', function (event, obj) {
                    $(this).attr('title', $(this).val()).trigger('change');
                })
                .bind('datepicker-open', function () {
                    $(this).data('dateRangePicker').clear();
                });

            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            //Скрипт для рабты с контекстным меню
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    var cmId = $(this).closest('tr').data('objid');
                    switch (key) {
                        case 'filter':
                            if (fClass.indexOf("dateCellf") >= 0) {
                                var dateStr = $(this).text() + ' - ' + $(this).text();
                                $('.dateFlt').val(dateStr).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("urlCellf") >= 0) {
                                var urlFlt = $(this).text();
                                $('.urlFlt').val(urlFlt).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("appCellf") >= 0) {
                                var dateStr = '';
                                if ($(this).text() == '') {
                                    dateStr = "Нерассмотренные"
                                }
                                else {
                                    dateStr = $(this).text() + ' - ' + $(this).text();
                                };

                                $('.app_dateFlt').val(dateStr).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("usrCellf") >= 0) {
                                var usrStr = $(this).text().split(' ')[0];
                                $('.usrFlt').val(usrStr).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("app_UserCellf") >= 0) {
                                var dateStr = $(this).text().split(' ')[0];
                                $('.app_UserFlt').val(dateStr).trigger('change');
                                break;
                            };
                            //-----------------------
                        case 'review':
                            commentAccept(4, cmId)
                            break;
                        case 'accept':
                            commentAccept(8, cmId)
                            break;
                        case 'reject':
                            commentAccept(12, cmId)
                            break;
                        case 'completed':
                            commentAccept(16, cmId)
                            break;
                            //-----------------------
                        case 'refresh':
                            ClearFilter();
                            break;
                        case 'epexport':
                            Export2Excel('../Export/ExportPlanCreditsF1');
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("Cellf") >= 0) { return false };
                            return true;
                        }
                    },
                    "refresh": { name: "Сброс фильтра", icon: "refresh" },
                    "sep1": "-----",
                    "check": {
                        name: "Утверждение",
                        icon: "check",
                        disabled: function () {
                            if ($('#acceptor').val() === 'True') {
                                return false;
                            }
                            return true;
                        },
                        items: {
                            "review": { name: "На рассмотрение", icon: "review" },
                            "sep11": "-----",
                            "accept": { name: "Принять", icon: "accept" },
                            "sep12": "-----",
                            "reject": { name: "Отклонить", icon: "reject" },
                            "sep13": "-----",
                            "completed": { name: "Выполнен", icon: "completed" }
                        }
                    },
                    "sep2": "---------",
                    "epexport": { name: "Экспорт в Excel", icon: "export2excel", disabled: true },
                }
            });
        });
    </script>

    <script type="text/javascript">
        //Инициализация массива статусов для фильтрации списка (все кроме выполненых)
        window.statusArr = JSON.stringify([1,4,8,12]);
        //Скрипт создания таблицы
        $(function () {
            $('#loadingImg').hide();
            var table = $('#gridtable')
                .on('preXhr.dt', function (e, settings, data) {
                    data.columns[6].search.value = window.statusArr; //Показать невыполненные задания
                })
                .DataTable({
                    "fixedHeader": {
                        "header": true,
                        "headerOffset": $('#mainNavbar').height()
                    },
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "orderMulti": true,
                    "responsive": false,
                    "pageLength": 25, // Количество записей в таблице по умолчанию
                    "pagingType": "simple_numbers",
                    "dom": "<'row'<'col-sm-3'l><'#stFilter.col-sm-9 text-right'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "language": {
                        "lengthMenu": "Записей: _MENU_",
                        "zeroRecords": "Записи отсутствуют",
                        "info": "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                        "infoEmpty": "Записи отсутствуют",
                        "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                        "search": "Поиск",
                        "processing": "<div id='loadingImg'><div id='preloadImg'><img src='../Content/Images/loader.gif' /></div></div>",
                        "sInfoThousands": " ",
                        "oPaginate": {
                            "sNext": ">",
                            "sPrevious": "<"
                        }
                    },
                    "fnDrawCallback": function (settings) {
                        $("#stFilter").html($('#hdStatusFilter').html());
                    },
                    "ajax": {
                        "url": "/Feedback/LoadComments",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": function (d) {
                            if (!d.result) {
                                if (d.message != null) {
                                    alert(d.message);
                                    return false;
                                }
                            }
                            else {
                                if (d.acceptor) { $('#acceptor').val('True'); }
                                return d.data;
                            }
                        },
                    },
                    "order": [[0, "desc"]],
                    "columns": [
                    {
                        "data": "DateOfCreation", "name": "DateOfCreation", "autoWidth": true,
                        "type": "date ",
                        "render": function (value) { return formatDate(value); },
                        "class": "dateCellf context-menu-one"
                    },
                    { "data": "UserFN", "name": "UserFN", "autoWidth": true, "class": "usrCellf context-menu-one" },
                    { "data": "Comment", "name": "Comment", "autoWidth": true, "class": "commNarrow context-menu-one" },
                    {
                        "data": "SbUrl", "name": "SbUrl", "autoWidth": false, "class": "urlCellf context-menu-one",
                        render: function (data, type, row, meta) {
                            var urlStr = '<a href=' + data + ' target="_blank">' + data + '</a>';
                            return urlStr;
                        }
                    },
                    {
                        "data": "DateOfApproved", "name": "DateOfApproved", "autoWidth": true,
                        "type": "date ",
                        "render": function (value) { return formatDate(value); },
                        "class": "appCellf context-menu-one"
                    },
                    { "data": "ApprovedUserFN", "name": "ApprovedUserFN", "autoWidth": true, "class": "app_UserCellf context-menu-one" },
                    { "data": "Status", "name": "Status", "autoWidth": false, "class": "" },

                    ],
                    "columnDefs": [
                        { "targets": [6], "visible": false, "searchable": false },
                        { "targets": [2], orderable: false },
                        { "targets": [3], orderable: false }
                    ],
                    "createdRow": function (row, data, rowIndex) {
                        //$(row).attr('data-objid', data.FeedbackId);
                        $(row).closest('tr').data('objid', data.FeedbackId);
                        // Скрипт цветового выделения строк в зависимости от статуса
                        switch (data.Status) {
                            case 1:
                                // Добавлен
                                $(row).css('background-color', 'rgba(255, 208, 115, 0.1)');
                                break;
                            case 4:
                                // На рассмотрении
                                $(row).css('background-color', 'rgba(64, 128, 200, 0.3)');
                                break;
                            case 8:
                                // Принят
                                $(row).css('background-color', 'rgba(128, 200, 64, 0.3)');
                                break;
                            case 12:
                                // Отклонен
                                $(row).css('background-color', 'rgba(255, 99, 132, 0.3)');
                                break;
                            case 16:
                                // Выполнен
                                $(row).css('background-color', 'rgba(255, 208, 115, 0.3)');
                                $(row).css('text-decoration', 'line-through');
                                break;
                            default:
                                break;
                        }

                        $('.urlCellf', $(row)).attr('title', data.SbUrl);
                    }
                });

            table.columns().eq(0).each(function (colIdx) {
                $('.sb', $('th')[colIdx]).on('keyup change', function () {
                    table.column(colIdx).search(this.value).draw();
                });

                $('.dff', $('th')[colIdx]).on('change', function () {
                    table.column(colIdx).search(this.value).draw();
                });
            });

        });

        //Форматирование дат
        function formatDate(value) {
            if (value === null) return "";
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
            var _m = (dt.getMonth() + 1) < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
            return _d + "/" + _m + "/" + dt.getFullYear();
        };

    </script>

    <script>
        //Фильтрация списка отзывов по статусу
        $('body').on('click', '.stBadge', function () {
            $(this).toggleClass('bUnCheck');
            $('#hdStatusFilter').html($('#stFilter').html());

            var _sts = []; //Массив кодов статусов для фильтрации
            $('.stBadge', '#stFilter').not('.bUnCheck').each(function () {
                _sts.push($(this).data('status'));
            });

            if (_sts.length > 0) {
                window.statusArr = JSON.stringify(_sts);
            }
            else {
                window.statusArr = JSON.stringify([-1]);
            }

            $("#gridtable").DataTable().columns(6).search(window.statusArr).draw();
        });

        //Разворачиваем/сворачиваем текст отзыва
        $('body').on('click', '.commNarrow', function () {
            $(this).removeClass("commNarrow").addClass("breakAll");
        });

        $('body').on('click', '.breakAll', function () {
            $(this).removeClass("breakAll").addClass("commNarrow");
        });
    </script>


    <script>
        //Сброс фильтра
        function ClearFilter() {
            var table = $('#gridtable').DataTable();
            $(".sb, .dff").each(function (colIdx) {
                $(this).val('');
                table.column(colIdx).search('');
            });
            table.columns(6).search('').draw();
        }
    </script>
}