@model F_Result.Models.Account

@{
    ViewBag.Title = "Подробно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>Подробная информация о платеже</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Справочники</li>
                <li>@Html.ActionLink("Счета организаций", "ACShow", "Accounts")</li>
                <li class="active">Подробно</li>
            </ol>
        </div>
    </div>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MFO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MFO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BankName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Balance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @if (Model.Status)
            {<span class="text-success">Счет активен</span>}
            else
            {<span class="text-danger">Счет неактивен</span>}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

        </dl>
    </div>
    <div class="form-actions no-color">
        <a class="btn btn-default" href='@Url.Action("ACShow")'><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Назад</a>
        <a class="btn btn-default" href='@Url.Action("ACEdit", new { id = Model.AccountId })'><span class="glyphicon glyphicon-edit"></span>&nbsp;Редактировать</a>
    </div>
</div>
