@model F_Result.Models.Account

@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #prgbasic-addon2:hover, #orgbasic-addon2:hover {
        background-color: transparent;
    }
</style>

<link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog" style="width:90%;"></div>
</div>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.Title
            <small>Редактирование реквизитов счета организации</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
            <li>Справочники</li>
            <li>@Html.ActionLink("Счета организаций", "AСShow", "Accounts")</li>
            <li class="active">Редактирование</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-6" id="resultMessage" style="cursor:pointer">
            <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
            <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
        </div>
    </div>

    <div class="col-md-7" style="margin-top:10px;">
        @using (Html.BeginForm("ACEdit", "Accounts", FormMethod.Post, new { id = "ACForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.AccountId)
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.HiddenFor(model => model.OrganizationId, new { id = "OrganizationId" })
                        <div class="input-group">
                            @Html.TextBox("orgSelect", ViewData["OrganizationName"], new
                       {

                           @class = "form-control",
                           type = "text",
                           id = "orgSelect",
                           @readonly = "readonly",
                           placeholder = "Щелкните для выбора",
                           aria_describedby = "orgbasic-addon2",
                           data_url = "/Directum/ShowOrganizationsPartial",
                           style = "cursor:pointer;"

                       })
                            <span class="input-group-addon" id="orgbasic-addon2" title="Очистить" style="cursor:pointer;">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger", id = "OrganizationValidator" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MFO, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MFO, new { htmlAttributes = new { @class = "form-control", maxlength = "6" } })
                        @Html.ValidationMessageFor(model => model.MFO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", maxlength = "21" } })
                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Активен", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox" style="padding-left:20px">
                            @Html.CheckBoxFor(model => model.Status, new { @checked = "true", @class = "form-control", style = "width:24px; height:24px;margin-top:-4px;" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", rows = "4", maxlength = "160", style = "resize:vertical;" })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" title="Сохранить информацию" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;Сохранить</button>
                    </div>
                </div>
            </div>
        }

        <div>
            <a class="btn btn-default" href='@Url.Action("ACShow")'><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Назад</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $('#loadingImg').hide();

            $('body').on('click', '#orgSelect', function (e) {
                e.preventDefault();
                var _href = $(this).data('url');
                $.get(_href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $('body').on('click', '#orgbasic-addon2', function () {
                $("#OrganizationId").val('');
                $("#orgSelect").val('');
            });

            $('#ACForm').submit(function (e) {
                var flag = false;

                if ($("#OrganizationId").val() == 0) {
                    $("#OrganizationValidator").html("Необходимо выбрать организацию");
                    flag = true;
                }

                if (flag) { return false; }
            });
        })
    </script>
}
