@{
    ViewBag.Title = "Платежи Ф1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/DateRangePicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />
<style>
    .sum-container:first-child {
        margin-right: 0;
    }

    .ovrcell {
        max-width: 10em;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

</style>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>Исходящие платежи Ф1</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Показатели</li>
                <li class="active">Исходящие платежи Ф1</li>
            </ol>
        </div>
    </div>

    @Html.Hidden("StatusList")

    @* Панель фильтров --------------------------------- *@
    <div class="panel-group" style="width:100%; min-width:680px; margin: 0 auto 10px !important;">
        <div class="panel panel-default" id="filterPanel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"><span class="text-info"><i class="glyphicon glyphicon-filter"></i>&nbsp;Фильтр</span></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body contextMenuFlt">
                    <div class="row">
                        <div class="col-sm-3 form-inline text-left fCnt" style="margin:6px 0 0; ">
                            <input type="text" style="min-width:16em; width:16em; text-align:center;" id="docDateFlt" class="form-control input-sm dffFlt" readonly placeholder="Дата документа" title="Дата документа" />
                        </div>
                        <div class="col-sm-3 form-inline text-center fCnt" style="margin:6px 0 0; ">
                            <input type="text" id="docNumFlt" class="form-control input-sm" style="width: 100%" placeholder="Номер документа" title="Номер документа (строгое соответствие)" />
                        </div>
                        <div class="col-sm-3 form-inline text-center fCnt" style="margin:6px 0 0; ">
                            <input type="text" id="contractFlt" class="form-control input-sm" style="width: 100%" placeholder="Договор" title="Номер договора (строгое соответствие)" />
                        </div>
                        <div class="col-sm-3 form-inline text-right fCnt" style="margin:6px 0 0; ">
                            <select name="stateDDL" id="stateDDL" class="form-control input-sm" title="Статус платежа">
                                <option value="All" selected="selected">Все платежи</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-inline text-center fCnt" style="margin:6px 0 0; ">
                            <input type="text" id="wrkFlt" class="form-control input-sm" style="width: 100%" placeholder="Сотрудник" title="ФИО сотрудника (любое вхождение)" />
                        </div>
                        <div class="col-sm-6 form-inline text-center fCnt" style="margin:6px 0 0; ">
                            <input type="text" id="pmFlt" class="form-control input-sm" style="width: 100%" placeholder="Руководитель проекта" title="ФИО руководителя проекта (любое вхождение)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ------------------------------------------------- *@

    <div class="row">
        <div class="col-md-6" id="resultMessage" style="display:block; height:30px;">
            <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
            <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
        </div>
    </div>

    @Html.Hidden("Status")

    <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
        <thead>
            <tr role="row" id="search-row" style="background-color:#ddddff">
                <th><input type="text" class="form-control input-sm sb prgFlt" style="width: 100%" placeholder="Проект" value="@ViewData["ProjectName"]" id="prjFlt" /></th>
                <th><input type="text" class="form-control input-sm sb orgFlt" style="width: 100%" placeholder="Организация" /></th>
                <th><input type="text" class="form-control input-sm sb cntFlt" style="width: 100%" placeholder="Контрагент" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Примечание" /></th>
                <th><input type="text" class="form-control input-sm dff dateFlt" readonly style="width: 100%" placeholder="Дата платежа" value="@ViewData["Period"]" id="dateFlt" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Сумма" /></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr role="row">
                <th>Проект</th>
                <th>Организация</th>
                <th>Контрагент</th>
                <th>Примечание</th>
                <th>Дата платежа</th>
                <th>Сумма</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

    <!-- #Плавающая панель фильтрации по пректу-->
    <div id="flowPanel">
        <i class="fa fa-arrow-left" id="showButton">&nbsp;<span class="revTextRight">ПРОЕКТЫ</span></i>
        <div style="width:100%; margin:20px auto; color:#eee" class="text-center">
            <span style="font-size:1.5em;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;ПРОЕКТЫ</span>
        </div>

        <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
            <table style="background-color:white; width:100%; margin-top:0 !important;"
                   class="table table-bordered table-striped table-responsive table-hover gridtable"
                   id="prgtable">
                <thead>
                    <tr>
                        <th>IPA</th>
                        <th>ID</th>
                        <th>Проект</th>
                        <th><input id="allPrgCHB" checked type="checkbox"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #Плавающая панель фильтрации по организации-->
    <div id="flowPanelOrg">
        <i class="fa fa-arrow-left" id="showButtonOrg">&nbsp;<span class="revTextRight">ОРГАНИЗАЦИИ</span></i>
        <div style="width:100%; margin:20px auto; color:#eee" class="text-center">
            <span style="font-size:1.5em;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;Организации</span>
        </div>

        <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
            <table style="background-color:white; width:100%; margin-top:0 !important;"
                   class="table table-bordered table-striped table-responsive table-hover gridtable"
                   id="org_Table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Организация</th>
                        <th><input id="allOrgCHB" checked type="checkbox"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #Плавающая панель фильтрации по статье расходов-->
    <div id="flowPanelExpend">
        <i class="fa fa-arrow-left" id="showButtonExpend">&nbsp;<span class="revTextRight">СТАТЬИ</span></i>
        <div style="width:100%; margin:20px auto; color:#eee" class="text-center">
            <span style="font-size:1.5em;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;СТАТЬИ</span>
        </div>

        <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
            <table style="background-color:white; width:100%; margin-top:0 !important;"
                   class="table table-bordered table-striped table-responsive table-hover gridtable"
                   id="expend_Table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Статья</th>
                        <th><input id="allExpendCHB" checked type="checkbox"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->

    <a href="#" class="scrollup1">Наверх</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FRScripts/toparrow.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/FRScripts/fFlowPanelPrj.js"></script>
    <script src="~/Scripts/FRScripts/fFlowPanelExpend.js"></script>
    <script src="~/Scripts/FRScripts/fFlowPanelOrg.js"></script>
    <script src="~/Scripts/FRScripts/exportData.js"></script>

    @*Блок скриптов для работы с DateRangePicker*@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/DateRangePicker/jquery.daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('.dff, .dffFlt').each(function () {
                $(this).dateRangePicker(
                     {
                         language: 'ru',
                         startOfWeek: 'monday',
                         separator: ' - ',
                         format: 'DD/MM/YYYY',
                         autoClose: true,
                         monthSelect: true,
                         yearSelect: true,
                         setValue: function (s) {
                             $(this).val(s);
                         },
                         customOpenAnimation: function (cb) {
                             $(this).fadeIn(300, cb);
                         },
                         customCloseAnimation: function (cb) {
                             $(this).fadeOut(300, cb);
                         },
                         showShortcuts: false,
                         time: {
                             enabled: false
                         },
                         extraClass: 'date-range-pickerM'
                     })
                .bind('datepicker-closed', function (event, obj) {
                    $(this).attr('title', $(this).val()).trigger('change');
                })
                .bind('datepicker-open', function () {
                    $(this).data('dateRangePicker').clear();
                });
            });
        });
    </script>

    <script>
        //Скрипт для работы с контекстным меню
        $(function () {
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'filter':
                            if (fClass.indexOf("dateCellf") >= 0) {
                                var dateStr = $(this).text() + ' - ' + $(this).text();
                                $('.dateFlt').val(dateStr).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("cntCellf") >= 0) {
                                $('.cntFlt').val($(this).text()).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("orgCellf") >= 0) {
                                $('.orgFlt').val($(this).text()).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("prgCellf") >= 0) {
                                $('.prgFlt').val($(this).text()).trigger('change');
                                break;
                            };
                            if (fClass.indexOf("catCellf") >= 0) {
                                $('.catFlt').val($(this).text()).trigger('change');
                                break;
                            };
                            break;
                        case 'refresh':
                            ClearFilter();
                            break;
                        case 'epexport':
                            Export2Excel('../Export/ExportActualDebitsF2');
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled:
                            function () {
                                var fClass = $(this).attr('class');
                                if (fClass.indexOf("Cellf") >= 0) {
                                    return false
                                };
                                return true;
                            }
                    },
                    "refresh": { name: "Сброс фильтра", icon: "refresh" },
                    "separator": "-----",
                    "epexport": { name: "Экспорт в Excel", icon: "export2excel", disabled: true }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#loadingImg').hide();

            //--------------------- -Скрипт для работы с панелью фильтров- ---------------------------

            //Заполняем выпадающий список статусов платежей
            var statusArray = JSON.parse($('#StatusList').val());
            $.each(statusArray, function (text, text) {
                $('#stateDDL').append($('<option></option>').val(text).html(text))
            });
            $('#stateDDL').val('Paid').change();

            //Скрипт для работы с контекстным меню панели фильтров
            $.contextMenu({
                selector: '.contextMenuFlt',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'refresh':
                            filterPanelClear();
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "refresh": { name: "Сброс фильтра", icon: "refresh" },
                }
            });

            $('body').on('keyup change', '.fCnt', function () {
                var table = $('#gridtable').DataTable();
                // Обновляем данные в таблицах плавающих панелей
                window._flag = true;
                window._flagExpend = true;
                table.draw();
            });

            //Сброс значений фильтров при сворачивании панели
            $('#filterPanel').on('hidden.bs.collapse', function (e) {
                filterPanelClear();
            })

            function filterPanelClear() {
                //Сброс значений фильтров панели фильтрации
                $('#docDateFlt').val('');
                $('#docNumFlt').val('');
                $('#contractFlt').val('');
                $('#stateDDL').val('Paid');
                $('#wrkFlt').val('');
                $('#pmFlt').val('');
                ClearFilter();
            }
            // -END Filter Panel -------------------------------------------------------

            //Скрипт создания таблицы --------------------------------------------------
            var table = $('#gridtable')
                .on('preXhr.dt', function (e, settings, data) {
                    data.columns[0].search.value = $('#prjFlt').val();
                    data.columns[4].search.value = $('#dateFlt').val();
                    data.columns[6].search.value = $('#docDateFlt').val();
                    data.columns[7].search.value = $('#docNumFlt').val();
                    data.columns[8].search.value = $('#contractFlt').val();
                    data.columns[9].search.value = function () {
                        var _state = $('#stateDDL').val()
                        _state = _state === 'All' ? '' : _state;
                        return _state;
                    };
                    data.columns[10].search.value = $('#wrkFlt').val();
                    data.columns[11].search.value = $('#pmFlt').val();
                })
                .DataTable({
                    fixedHeader: {
                        "header": true,
                        "headerOffset": $('#mainNavbar').height()
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,
                    orderMulti: true,
                    responsive: false,
                    pageLength: 25, // Количество записей в таблице по умолчанию
                    pagingType: "simple_numbers",
                    dom: "<'row'<'col-sm-3'l><'col-sm-3 text-right'B><'#sumSpan.col-sm-6'B>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "lengthMenu": "Записей: _MENU_",
                        "zeroRecords": "Записи отсутствуют",
                        "info": "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                        "infoEmpty": "Записи отсутствуют",
                        "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                        "search": "Поиск",
                        "processing": "<div id='loadingImg'><div id='preloadImg'><img src='../Content/Images/loader.gif' /></div></div>",
                        "sInfoThousands": " ",
                        "oPaginate": {
                            "sNext": ">",
                            "sPrevious": "<"
                        }
                    },
                    fnDrawCallback: function (settings) {
                        //Используем эту функцию для обновления внешних елементов.
                        //Использование "dataSrc" давало ошибки при частом обновлении таблицы в процессе фильтрации.
                        var api = this.api();
                        var json = api.ajax.json();
                        var _fSum = json.fsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                        $("#sumSpan").html('<input id="ad_OldBtn" type="button" class="btn btn-sm btn-primary" value="Данные F-Result" title = "Данные об исходящих платежах Ф1 до 01/09/18"/>&nbsp;<span class="sum-container">&sum;<sub>плат. </sub><span class="badge sum-block">' + _fSum + '&#8372;</span></span>');

                        //Инициализация таблицы проектов в плавающей панели---------
                        if (window._flag) {
                            //Заполнение массива проектов для таблицы в плавающей панели
                            _prjIDs = JSON.parse(json.prjlist)
                            var pTable = $('#prgtable').DataTable();
                            pTable.destroy();
                            prgTableCrate();
                            $('#flowPanel').height($('#prgtable_wrapper').height() + 80);
                            window._flag = false;
                        };

                        //Инициализация таблицы статей в плавающей панели---------
                        if (window._flagExpend) {
                            //Заполнение массива статей для таблицы в плавающей панели
                            _expendIDs = JSON.parse(json.artlist)
                            var expendTable = $('#expend_Table').DataTable();
                            expendTable.destroy();
                            expendTableCrate();
                            $('#flowPanelExpend').height($('#expend_Table_wrapper').height() + 80);
                            window._flagExpend = false;
                        };

                        //Инициализация таблицы организаций в плавающей панели---------
                        if (window._flagOrg) {
                            //Заполнение массива статей для таблицы в плавающей панели
                            _orgIDs = JSON.parse(json.orglist)
                            var orgTable = $('#org_Table').DataTable();
                            orgTable.destroy();
                            orgTableCrate();
                            $('#flowPanelOrg').height($('#org_Table_wrapper').height() - 60);
                            window._flagOrg = false;
                        };

                    },
                    ajax: {
                        url: "/Directum/LoadActualDebitsF1",
                        type: "POST",
                        datatype: "json",
                        data: function (d) {
                            d.filterPrjIDs = window.filterPrjIDs;
                            d.filterExpendIDs = window.filterExpendIDs;
                            d.filterOrgIDs = window.filterOrgIDs;
                            d._status = $("#Status").val();
                        },
                        dataSrc: function (d) {
                            if (d.data.length === 0) {
                                if (d.errormessage != "") {
                                    alert(d.errormessage);
                                }
                            }
                            return d.data;
                        }
                    },
                    columnDefs: [
                       { "targets": [6], "visible": false, "searchable": true },
                       { "targets": [7], "visible": false, "searchable": true },
                       { "targets": [8], "visible": false, "searchable": true },
                       { "targets": [9], "visible": false, "searchable": true },
                       { "targets": [10], "visible": false, "searchable": true },
                       { "targets": [11], "visible": false, "searchable": true }
                    ],
                    columns: [
                        { "data": "ProjectName", "name": "ProjectName", "autoWidth": true, "class": "context-menu-one prgCellf haveTitle" },
                        { "data": "Organization", "name": "Organization", "autoWidth": true, "class": "context-menu-one orgCellf" },
                        { "data": "Counteragent", "name": "Counteragent", "autoWidth": true, "class": "context-menu-one cntCellf" },
                        { "data": "DocumentDescr", "name": "DocumentDescr", "autoWidth": true, "class": "context-menu-one" },
                        {
                            "data": "PaymentDate", "name": "PaymentDate", "autoWidth": true, "type": "date ",
                            "render": function (value) {
                                return formatDate(value);
                            },
                            "class": "dateCellf context-menu-one"
                        },
                        { "data": "ItemSum", "name": "ItemSum", "autoWidth": true, render: $.fn.dataTable.render.number('&nbsp;', ',', 2), "class": "text-right context-menu-one" },
                        { "data": "DocumentDate", "name": "DocumentDate" },
                        { "data": "DocumentNumber", "name": "DocumentNumber" },
                        { "data": "ContractDescr", "name": "ContractDescr" },
                        { "data": "StageName", "name": "StageName" },
                        { "data": "WorkerName", "name": "WorkerName" },
                        { "data": "ProjectManager", "name": "ProjectManager" }
                    ],
                    createdRow: function (row, data, rowIndex) {
                        var _docNum = data.DocumentNumber;
                        var _docDate = formatDate(data.DocumentDate);
                        var _org = data.Organization;
                        var _contract = '';
                        var _expName = data.ExpenditureName;
                        if (data.ContractDescr !== null) {
                            _contract = data.ContractDescr;
                        }
                        var _status = data.StageName;
                        var _wrk = data.WorkerName;
                        var _prjmanager = data.ProjectManager;
                        var _IPA = 'Платежи отсутствуют';

                        if (data.IPA !== null) {
                            _IPA = moment(eval(data.IPA.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).format('DD/MM/YYYY');
                        }
                        var prgTitleStr = 'Индекс активности: ' + _IPA;
                        prgTitleStr += '\r\nНомер документа: ' + _docNum + '\r\nДата документа: ' + _docDate + '\r\nСотрудник: ' + _wrk + '\r\nРуководитель проекта: ' + _prjmanager;
                        prgTitleStr += '\r\nОрганизация: ' + _org + '\r\nДоговор: ' + _contract + '\r\nСтатья: ' + _expName + '\r\nСтатус: ' + _status;

                        $('.prgCellf', $(row)).attr('title', prgTitleStr);
                    },
                    order: [[4, "desc"]]
                });

            table.columns().eq(0).each(function (colIdx) {
                $('.sb', $('th')[colIdx]).on('keyup change', function () {
                    // Обновляем данные в таблицах плавающих панелей
                    window._flag = true;
                    window._flagExpend = true;
                    window._flagOrg = true;
                    table.column(colIdx).search(this.value).draw();
                });

                $('.dff', $('th')[colIdx]).on('change', function () {
                    // Обновляем данные в таблицах плавающих панелей
                    window._flag = true;
                    window._flagExpend = true;
                    window._flagOrg = true;
                    table.column(colIdx).search(this.value).draw();
                });
            });

        });

        function formatDate(value) {
            if (value === null) return "";
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
            var _m = (dt.getMonth() + 1) < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
            return _d + "/" + _m + "/" + dt.getFullYear();
        };

    </script>

    <script>
        //Обработчик нажатия кнопки "Данные F-Result"
        $('body').on('click', '#ad_OldBtn', function () {
            window.location.href = '/ActualDebits/ADShow';
        })
    </script>

    <script>
        function ClearFilter() {
            globalVarsClear();
            globalExpendVarsClear();
            globalOrgVarsClear();
            var table = $('#gridtable').DataTable();
            $(".sb, .dff").each(function (colIdx) {
                $(this).val('');
            });
            table.columns().search('').draw();
        }
    </script>
}
