@model F_Result.Models.ActualDebit

@{
    ViewBag.Title = "Подробно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>Подробная информация о платеже</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Показатели</li>
                <li>@Html.ActionLink("Реестр платежей", "ADShow", "ActualDebits")</li>
                <li class="active">Подробно</li>
            </ol>
        </div>
    </div>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Appointment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Appointment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DocNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DocNumber)
            </dd>

        </dl>
    </div>
    <div class="form-actions no-color">
        <a class="btn btn-default" href='@Url.Action("ADShow")'><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Назад</a>
        <a class="btn btn-default" href='@Url.Action("ADEdit", new { id = Model.ActualDebitId })'><span class="glyphicon glyphicon-edit"></span>&nbsp;Редактировать</a>
    </div>
</div>
