<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/Spacelab/css")

    @*
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Spacelab/css")
        @Styles.Render("~/Content/Superhero/css")
    *@

    @Scripts.Render("~/bundles/modernizr")

    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mainNavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink("F - RESULT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li id="findicators" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Показатели<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li style="text-align:center; background-color:#C9D2DC;  margin:0 0 2px 0; padding:3px 3px 3px 23px; letter-spacing: 20px;">
                                ФАКТ
                            </li>
                            <li>
                                <a href="@Url.Action("ShowPayments", "Directum", new {Area = "" })"><i class="glyphicon glyphicon-thumbs-up" style="margin-right:10px;"></i>&nbsp;Входящие платежи</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ADShow", "ActualDebits", new {Area = "" })"><i class="glyphicon glyphicon-thumbs-down" style="margin-right:10px;"></i>&nbsp;Исходящие платежи</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ABShow", "AccountsBalances", new {Area = "" })"><i class="glyphicon glyphicon-piggy-bank" style="margin-right:10px;"></i>&nbsp;Остатки на счетах</a>
                                @*<a href="@Url.Action("InDeveloping", "Home", new {Area = "" })"><i class="glyphicon glyphicon-piggy-bank" style="margin-right:10px;"></i>&nbsp;Остатки на счетах</a>*@
                            </li>
                            <li style="text-align:center; background-color:#C9D2DC; margin:2px 0 2px 0; padding:3px 3px 3px 23px; letter-spacing: 20px;">
                                ПЛАН
                            </li>
                            <li>
                                <a href="@Url.Action("PCShow", "PlanCredits", new {Area = "" })"><i class="glyphicon glyphicon-hand-up" style="margin-right:10px;"></i>&nbsp;План доходов</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PDShow", "PlanDebits", new {Area = "" })"><i class="glyphicon glyphicon-hand-down" style="margin-right:10px;"></i>&nbsp;План расходов</a>
                            </li>
                        </ul>
                    </li>

                    <li id="report" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="repFactAnal">
                                <a href="@Url.Action("AnalysisOfPayments", "Reports", new {Area = "" })"><i class="glyphicon glyphicon-signal" style="margin-right:10px;"></i>&nbsp;Анализ платежей</a>
                            </li>
                            <li id="repPlanAnal">
                                <a href="@Url.Action("AnalysisOfPlanPayments", "Reports", new {Area = "" })"><i class="glyphicon glyphicon-equalizer" style="margin-right:10px;"></i>&nbsp;Анализ плановых показателей</a>
                                @*<a href="@Url.Action("InDeveloping", "Home", new {Area = "" })"><i class="glyphicon glyphicon-signal" style="margin-right:10px;"></i>&nbsp;Анализ платежей</a>*@
                            </li>
                        </ul>
                    </li>

                    <li id="dict" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="projects_li">
                                <a href="@Url.Action("ShowProjects", "Directum", new {Area = "" })"><i class="glyphicon glyphicon-briefcase" style="margin-right:10px;"></i>&nbsp;Проекты</a>
                            </li>
                            <li id="period_li">
                                <a href="@Url.Action("PPShow", "PlanningPeriods", new {Area = "" })"><i class="glyphicon glyphicon glyphicon-time" style="margin-right:10px;"></i>&nbsp;Плановые периоды</a>
                            </li>
                            <li id="org_li">
                                <a href="@Url.Action("ShowOrganizations", "Directum", new {Area = "" })"><i class="glyphicon glyphicon-barcode" style="margin-right:10px;"></i>&nbsp;Организации</a>
                            </li>
                            <li id="account_li">
                                <a href="@Url.Action("ACShow", "Accounts", new {Area = "" })"><i class="glyphicon glyphicon-list-alt" style="margin-right:10px;"></i>&nbsp;Счета организаций</a>
                                @*<a href="@Url.Action("InDeveloping", "Home", new {Area = "" })"><i class="glyphicon glyphicon-list-alt" style="margin-right:10px;"></i>&nbsp;Счета</a>*@
                            </li>
                            <li id="usr_li">
                                <a href="@Url.Action("ShowUsers", "Directum", new {Area = "" })"><i class="glyphicon glyphicon-user" style="margin-right:10px;"></i>&nbsp;Пользователи</a>
                            </li>
                        </ul>
                    </li>

                    <li id="admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Управление"><i class="fa fa-cog"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage1">
                                <a href="@Url.Action("ShowUsers", "UsersManagement", new { Area = "Administrator" })"><i class="glyphicon glyphicon-lock" style="margin-right:10px;"></i>&nbsp;Пользователи</a>
                            </li>
                            <li id="fullwidthpage2">
                                <a href="@Url.Action("LoginAudit", "UsersManagement", new { Area = "Administrator" })"><i class="glyphicon glyphicon-calendar" style="margin-right:10px;"></i>&nbsp;Аудит входа</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; @DateTime.Now.Year, <a href="http://triada.com.ua/">ООО "ИПП Триада"</a> Все права защищены</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/messageClear.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
