@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "UsersManagement", new { area = "Administrator" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li id="personalMenu" class="dropdown">
                <a href="#" title="Персональный раздел" class="dropdown-toggle" data-toggle="dropdown">-@User.Identity.GetUserName()-&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" id="addComment"><i class="fa fa-comment" style="margin-right:10px;"></i>&nbsp;Добавить отзыв</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CommentsShow", "Feedback", new { Area = "" })"><i class="fa fa-comments" style="margin-right:10px;"></i>&nbsp;Отзывы</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("AlternativeAdvance", "Reports", new { Area = "" })"><i class="fa fa-line-chart" style="margin-right:10px;"></i>&nbsp;Мой ААО</a>
                    </li>
                    <li class="divider"></li>
                    <!-- If current user is Administrator -->
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li class="dropdown dropdown-submenu sbm">
                            <a href="#" class="dropdown-toggle asbm" data-toggle="dropdown" title="Управление"><i class="fa fa-cog" style="margin-right:10px;"></i>&nbsp;Управление</a>
                            <ul class="dropdown-menu">
                                <li id="usersblock">
                                    <a href="@Url.Action("ShowUsers", "UsersManagement", new { Area = "Administrator" })"><i class="glyphicon glyphicon-lock" style="margin-right:10px;"></i>&nbsp;Пользователи</a>
                                </li>
                                <li id="auditblock">
                                    <a href="@Url.Action("LoginAudit", "UsersManagement", new { Area = "Administrator" })"><i class="glyphicon glyphicon-calendar" style="margin-right:10px;"></i>&nbsp;Аудит входа</a>
                                </li>
                                <li id="settingslock">
                                    <a href="@Url.Action("ShowSettings", "Settings", new { Area = "" })"><i class="glyphicon glyphicon-wrench" style="margin-right:10px;"></i>&nbsp;Настройки</a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                    }

                    <li>
                        <a href="@Url.Action("SelfPasswordChange", "UsersManagement", new {Area = "Administrator" })"><i class="fa fa-key" style="margin-right:10px;"></i>&nbsp;Смена пароля</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a title="Выйти" href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out" style="margin-right:10px;"></i>&nbsp;Выйти</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Вход", "Login", routeValues: new { area = "Administrator", controller = "UsersManagement" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
