@model F_Result.Models.PlanCredit

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.Title
            <small>Удаление информации о доходах</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
            <li>Показатели</li>
            <li>@Html.ActionLink("План доходов", "PCShow", "PlanCredits")</li>
            <li class="active">Удаление</li>
        </ol>
    </div>

    <h3 class="text-danger">Вы действительно хотите удалить выбранную запись?</h3>
    <hr />


    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Appointment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Appointment)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a class="btn btn-default" href='@Url.Action("PCShow")'><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Назад</a>
                <button type="submit" title="Удалить запись" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i>&nbsp; Удалить</button>
            </div>
        }
    </div>
</div>