@{
    ViewBag.Title = "Доходы Ф1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/DateRangePicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>План доходов Ф1</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Показатели</li>
                <li class="active">План доходов Ф1</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="resultMessage" style="display:block; height:30px;">
            <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
            <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
        </div>
    </div>

    <div class="row" style="width:100%">
        @Html.DropDownList("PeriodDDL", (SelectList)ViewData["periodItems"], null, new { @class = "form-control input-sm", name = "PeriodDDL", title = "Плановый период" })
    </div>

    <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
        <thead>
            <tr role="row" id="search-row" style="background-color:#ddddff">
                <th><input type="text" class="form-control input-sm sb prgFlt" style="width: 100%" placeholder="Проект" value="@ViewData["ProjectName"]" id="prjFlt" /></th>
                <th><input type="text" class="form-control input-sm sb chFlt" style="width: 100%" placeholder="Руководитель" /></th>
                <th><input type="text" class="form-control input-sm sb orgFlt" style="width: 100%" placeholder="Организация" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Назначение" /></th>
                <th><input type="text" class="form-control input-sm sb usrFlt" style="width: 100%" placeholder="Пользователь" /></th>
                <th><input type="text" class="form-control input-sm dff dateFlt" readonly style="width: 100%" placeholder="Дата" value="@ViewData["Period"]" id="dateFlt" /></th>
                <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Сумма" /></th>
                <th></th>
            </tr>

            <tr role="row">
                <th>Проект</th>
                <th>Руководитель</th>
                <th>Организация</th>
                <th>Назначение</th>
                <th>Пользователь</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Период</th>
            </tr>

        </thead>
        <tbody></tbody>
    </table>

    <!-- #Плавающая панель -->
    <div id="flowPanel" hidden>
        <i class="fa fa-arrow-left" id="showButton">&nbsp;<span class="revTextRight">ПРОЕКТЫ</span></i>
        <div style="width:100%; margin:20px auto; color:#eee" class="text-center">
            <span style="font-size:1.5em;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;ПРОЕКТЫ</span>
        </div>

        <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
            <table style="background-color:white; width:100%; margin-top:0 !important;"
                   class="table table-bordered table-striped table-responsive table-hover gridtable"
                   id="prgtable">
                <thead>
                    <tr>
                        <th>IPA</th>
                        <th>ID</th>
                        <th>Проект</th>
                        <th><input id="allPrgCHB" checked type="checkbox"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #Плавающая панель фильтрации по организации-->
    <div id="flowPanelOrg">
        <i class="fa fa-arrow-left" id="showButtonOrg">&nbsp;<span class="revTextRight">ОРГАНИЗАЦИИ</span></i>
        <div style="width:100%; margin:20px auto; color:#eee" class="text-center">
            <span style="font-size:1.5em;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;Организации</span>
        </div>

        <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
            <table style="background-color:white; width:100%; margin-top:0 !important;"
                   class="table table-bordered table-striped table-responsive table-hover gridtable"
                   id="org_Table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Организация</th>
                        <th><input id="allOrgCHB" checked type="checkbox"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->

    <a href="#" class="scrollup1">Наверх</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FRScripts/toparrow.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/FRScripts/fFlowPanelPrj.js"></script>
    <script src="~/Scripts/FRScripts/fFlowPanelOrg.js"></script>
    <script src="~/Scripts/FRScripts/exportData.js"></script>

    @*Блок скриптов для работы с DateRangePicker*@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/DateRangePicker/jquery.daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('.dff').each(function () {
                $(this).dateRangePicker(
                     {
                         language: 'ru',
                         startOfWeek: 'monday',
                         separator: ' - ',
                         format: 'DD/MM/YYYY',
                         autoClose: true,
                         monthSelect: true,
                         yearSelect: true,
                         setValue: function (s) {
                             $(this).val(s);
                         },
                         customOpenAnimation: function (cb) {
                             $(this).fadeIn(300, cb);
                         },
                         customCloseAnimation: function (cb) {
                             $(this).fadeOut(300, cb);
                         },
                         showShortcuts: false,
                         time: {
                             enabled: false
                         },
                         extraClass: 'date-range-pickerM'
                     })
                .bind('datepicker-closed', function (event, obj) {
                    $(this).attr('title', $(this).val()).trigger('change');
                })
                .bind('datepicker-open', function () {
                    $(this).data('dateRangePicker').clear();
                });

            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            //Скрипт для рабты с контекстным меню
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'add':
                            window.location.href = "/PlanCredits/PCCreate";
                            break;
                        case 'clone':
                            window.location.href = "/PlanCredits/PCEdit/" + $(this).closest('tr').data('objid') + '?isClone=True';
                            break;
                        case 'details':
                            window.location.href = "/PlanCredits/PCDetails/" + $(this).closest('tr').data('objid');
                            break;
                        case 'edit':
                            window.location.href = "/PlanCredits/PCEdit/" + $(this).closest('tr').data('objid');
                            break;
                        case 'delete':
                            window.location.href = "/PlanCredits/PCDelete/" + $(this).closest('tr').data('objid');
                            break;
                            //-----------------------------
                        case 'filter':
                            if (fClass.indexOf("prgCellf") >= 0) {
                                $('.prgFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("chCellf") >= 0) {
                                $('.chFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("orgCellf") >= 0) {
                                $('.orgFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("usrCellf") >= 0) {
                                $('.usrFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("dateCellf") >= 0) {
                                var dateStr = $(this).text() + ' - ' + $(this).text();
                                $('.dateFlt').val(dateStr).trigger('change');
                                break;
                            };
                            //-----------------------
                        case 'refresh':
                            ClearFilter();
                            break;
                        case 'epexport':
                            Export2Excel('../Export/ExportPlanCreditsF1');
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("Cellf") >= 0) { return false };
                            return true;
                        }
                    },
                    "refresh": { name: "Сброс фильтра", icon: "refresh" },
                    "separator": "-----",
                    "epexport": { name: "Экспорт в Excel", icon: "export2excel" },
                    "sep": "---------",
                    "add": { name: "Создать", icon: "add" },
                    "clone": {
                        name: "Клонировать", icon: "copy", disabled: function () {
                            var rClass = $(this).attr('class');
                            if (rClass.indexOf("dataTables_empty") >= 0) { return true };
                            return false;
                        }
                    },
                    "details": {
                        name: "Подробно", icon: "details", disabled: function () {
                            var rClass = $(this).attr('class');
                            if (rClass.indexOf("dataTables_empty") >= 0) { return true };
                            return false;
                        }
                    },
                    "edit": {
                        name: "Редактировать", icon: "edit", disabled: function () {
                            var rClass = $(this).attr('class');
                            if (rClass.indexOf("dataTables_empty") >= 0) { return true };
                            return false;
                        }
                    },
                    "delete": {
                        name: "Удалить", icon: "delete", disabled: function () {
                            var rClass = $(this).attr('class');
                            if (rClass.indexOf("dataTables_empty") >= 0) { return true };
                            return false;
                        }
                    }
                }
            });

            //Двойной щелчек по строке таблицы.
            $('#gridtable tbody').on('dblclick', 'tr', function () {
                window.location.href = "/PlanCredits/PCEdit/" + $(this).data('objid');
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#loadingImg').hide();

            //Читаем значение фильтра планового периода
            if (localStorage.getItem('PlanningPeriod') !== null) {
                var DDLVal = localStorage.getItem('PlanningPeriod');
                $('#PeriodDDL').val(DDLVal);
            }

            //Скрипт создания таблицы
            var table = $('#gridtable')
                .on('preXhr.dt', function (e, settings, data) {
                    data.columns[0].search.value = $('#prjFlt').val();
                    data.columns[5].search.value = $('#dateFlt').val();
                    data.columns[7].search.value = $('#PeriodDDL').val();
                })
                .DataTable({
                    "fixedHeader": {
                        "header": true,
                        "headerOffset": $('#mainNavbar').height()
                    },
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "orderMulti": true,
                    "responsive": true,
                    "pageLength": 25, // Количество записей в таблице по умолчанию
                    "pagingType": "simple_numbers",
                    "language": {
                        "lengthMenu": "Записей: _MENU_",
                        "zeroRecords": "Записи отсутствуют",
                        "info": "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                        "infoEmpty": "Записи отсутствуют",
                        "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                        "search": "Поиск",
                        "processing": "<div id='loadingImg'><div id='preloadImg'><img src='../Content/Images/loader.gif' /></div></div>",
                        "sInfoThousands": " ",
                        "oPaginate": {
                            "sNext": ">",
                            "sPrevious": "<"
                        }
                    },
                    "dom": "<'row'<'col-sm-3'l><'col-sm-6'B><'#sumSpan.col-sm-3'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "fnDrawCallback": function (settings) {
                        //Используем эту функцию для обновления внешних елементов.
                        //Использование "dataSrc" давало ошибки при частом обновлении таблицы в процессе фильтрации.
                        var api = this.api();
                        var json = api.ajax.json();
                        var _cSum = json.fsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                        $("#sumSpan").html('&sum;<sub>плат. </sub><span class="badge sum-block">' + _cSum + '&#8372;</span>');

                        //Инициализация таблицы проектов в плавающей панели---------
                        if (window._flag) {
                            //Заполнение массива проектов для таблицы в плавающей панели
                            _prjIDs = JSON.parse(json.prjlist)
                            var pTable = $('#prgtable').DataTable();
                            pTable.destroy();
                            prgTableCrate();
                            $('#flowPanel').height($('#prgtable_wrapper').height() + 80);
                            window._flag = false;
                        };

                        //Инициализация таблицы организаций в плавающей панели---------
                        if (window._flagOrg) {
                            //Заполнение массива организаций для таблицы в плавающей панели
                            _orgIDs = JSON.parse(json.orglist)
                            var orgTable = $('#org_Table').DataTable();
                            orgTable.destroy();
                            orgTableCrate();
                            $('#flowPanelOrg').height($('#org_Table_wrapper').height() + 60);
                            window._flagOrg = false;
                        };

                    },
                    "ajax": {
                        "url": "/PlanCredits/LoadPC",
                        "type": "POST",
                        "datatype": "json",
                        "data": function (d) {
                            d.filterPrjIDs = window.filterPrjIDs;
                            d.filterOrgIDs = window.filterOrgIDs;
                        },
                        "dataSrc": function (d) {
                            if (d.data.length === 0) {
                                if (d.errormessage != "") {
                                    alert(d.errormessage);
                                }
                            }
                            return d.data;
                        }
                    },
                    "order": [[5, "desc"]],
                    "columns": [
                        { "data": "ProjectName", "name": "ProjectName", "autoWidth": true, "class": "prgCellf context-menu-one haveTitle" },
                        { "data": "ChiefName", "name": "ChiefName", "autoWidth": true, "class": "chCellf context-menu-one" },
                        { "data": "OrganizationName", "name": "OrganizationName", "autoWidth": true, "class": "orgCellf context-menu-one" },
                        { "data": "Appointment", "name": "Appointment", "autoWidth": true, "class": "context-menu-one" },
                        { "data": "UserFN", "name": "UserFN", "autoWidth": true, "class": "usrCellf context-menu-one" },
                        {
                            "data": "Date", "name": "Date", "autoWidth": true,
                            "type": "date ",
                            "render": function (value) {
                                if (value === null) return "";
                                var pattern = /Date\(([^)]+)\)/;
                                var results = pattern.exec(value);
                                var dt = new Date(parseFloat(results[1]));
                                var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
                                var _m = (dt.getMonth() + 1) < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
                                return _d + "/" + _m + "/" + dt.getFullYear();
                            },
                            "class": "dateCellf context-menu-one"
                        },
                        { "data": "Sum", "name": "Sum", "autoWidth": true, render: $.fn.dataTable.render.number('&nbsp;', ',', 2), "class": "text-right context-menu-one" },
                        { "data": "PeriodName", "name": "PeriodName", "autoWidth": false }
                    ],
                    "createdRow": function (row, data, rowIndex) {
                        $(row).attr('data-objid', data.PlanCreditId);
                        var _datePlan = formatDate(data.StartDatePlan);
                        var _dateFact = formatDate(data.StartDateFact);
                        var _planBenefit = data.planBenefit.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                        var _planExpand = data.planExpand.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");

                        var _IPA = 'Платежи отсутствуют';
                        if (data.IPA !== null) {
                            _IPA = moment(eval(data.IPA.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).format('DD/MM/YYYY');
                        }
                        var prgTitleStr = 'Индекс активности: ' + _IPA;
                        prgTitleStr += '\r\nТип проекта: ' + data.ProjectType + '\r\nРуководитель: ' + data.ChiefName + '\r\nМенеджер: ' + data.ProjectManagerName;
                        prgTitleStr += '\r\nДата начала (план): ' + _datePlan + '\r\nДата начала (факт): ' + _dateFact;
                        prgTitleStr += '\r\nПлан доходов: ' + _planBenefit + '\r\nПлан расходов: ' + _planExpand;
                        $('.prgCellf', $(row)).attr('title', prgTitleStr);
                    },
                    "columnDefs": [
                        {
                            "targets": [7],
                            "visible": false,
                            "searchable": false
                        }
                    ]
                });

            table.columns().eq(0).each(function (colIdx) {
                $('.sb', $('th')[colIdx]).on('keyup change', function () {
                    // Обновляем данные в таблицах плавающих панелей
                    window._flag = true;
                    window._flagOrg = true;
                    table.column(colIdx).search(this.value).draw();
                });

                $('.dff', $('th')[colIdx]).on('change', function () {
                    // Обновляем данные в таблицах плавающих панелей
                    window._flag = true;
                    window._flagOrg = true;
                    table.column(colIdx).search(this.value).draw();
                });
            });
        });

        //Скрипт для работы с фильтром выбора планового периода
        $('body').on('change', '#PeriodDDL', function () {
            localStorage.setItem('PlanningPeriod', $(this).val());
            globalVarsClear();
            globalOrgVarsClear();
            var table = $('#gridtable').DataTable();
            table.draw();
        });

        function ClearFilter() {
            globalVarsClear();
            globalExpendVarsClear();
            globalOrgVarsClear();
            var table = $('#gridtable').DataTable();
            $(".sb, .dff").each(function (colIdx) {
                $(this).val('');
                table.column(colIdx).search('');
            });
            table.draw();
        }

        function formatDate(value) {
            if (value === null) return "";
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
            var _m = (dt.getMonth() + 1) < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
            return _d + "/" + _m + "/" + dt.getFullYear();
        };

    </script>
}


